input[type="button"] {
    background-color: rgb(255, 0, 0);
}
form{
    background-color: rgb(255, 228, 196);
    border: 1px solid rgb(236, 207, 171);
    border-radius: 20px;
    padding: 10px;
    margin: 0 20%;
}
label, input[type="text"], input[type="number"]{
    margin-left: 20%;
}
body{
    background-color: rgb(209, 203, 169);
}
